<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Auth App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li><a href="/download">Download</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>

            {% endif %}
        </ul>
    </div>
</nav>